.footer{
    background:#66BC45;
    display:block;
    justify-content: space-between;
    widows: 100vw;
    margin:1rem -1rem -2rem -1rem;
    padding: 1rem;
    div{
        margin: 1rem;
    }

}
.logo{
    width:150px;
    border:2px solid red;
}