.footer{
    background:#66BC45;
    display:block;
    justify-content: space-between;
    width: 100vw;
    padding-top:1rem;
    padding-bottom: 1rem;
    margin:0;
    max-width: 1400px;
    div{
        margin: 1rem;
    }

}
.logo{
    width:150px;
    border:2px solid red;
}
