
.imagesContainer{ 
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
border-top:2px solid black;
.galleryH1{
    width:100%;
    font-size:1.5rem;
    padding-bottom: .25rem;
    
}
}
