.header{
    background:white;
    -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.69);
    display: flex;
    justify-content: space-between;
    height: 49px;
    position: fixed;
    left:0;
    right:0;
    z-index:99;
    top:0;
    @media screen and (min-width:1400px){
      position: relative;
      margin:0 auto;
      width:1400px;  
    }
    a{
        text-decoration: none;
        color:rgba(0,0,0,.80);
        margin:1rem 5rem 1rem 1rem; 
    }

    .homecontainer{
        display: flex;
        align-content: center;
        height:100%;
        .logo{
            width:47px;
            position :absolute;
            top:0px;
            margin-top: -.7rem;
            left:15px;
        }
        a{
            outline:0;
        }
    }
    .navbarcontainer{
        display: flex;
        margin-right:2rem;
        
        div{

            height:49px;
            display:flex;
            align-items: center;
            
            a{
                display: block;
                margin:0 auto;
                padding:0 1rem;
            }
            a:hover,a:focus{
                background: #66BC45;
                color:white;
            }
        }
        div:hover,div:focus{
            background: #66BC45;
            a{color:white;}

        }
    }
}
