.page{
    max-width: 1024px;
    margin: 2rem;
    padding-top:2rem;
    h1{
        font-family: "Roboto"; 
    }

}
.content{
    line-height: 1.55rem;
    p{
        margin-bottom:1.55rem;
    }
}
