
.slideShow{
    
    display:flex;
    border-top:2px solid black;
    border-bottom:2px solid black;
    justify-content: center;
    .slidesContainer{
        width:auto;
        margin:0 auto;
    }
    
    button{
        background: transparent;
        border:0;
        font-size: 5rem;
        color:royalblue;

        .previous{

        }
        .next{
            
        }
    }
}