.slideWrapper{
    border-top:2px solid black;
    .imageContainer{
        margin:0 auto;
    }
    .buttonsContainer{
        text-align: center;
        font-size: 3rem;
        border-top:2px solid black;
        button:hover, button:focus{
            background-color:royalblue;
            color:white;
        }
        button{ 
            color:royalblue;
            margin:1rem 2rem;
            background: transparent;
            border:0px 1px 1px 1px solid grey;
            border-radius: .5rem;
            
            span{
                height:2rem;
                display: block;
                transform: translateY(-50%);
            }
            
        }
    }

}